/**
 * Created by x213555 on 4/10/18.
 */
.THIS {
}

.THIS .errorToast {
    padding:10px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(194, 57, 52);
}
.THIS .errorPosition {
    width: 600px;
    min-height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    top: 250px;
    margin: 0 auto;
    z-index: 100000;
    padding-bottom: 0;
}
.THIS .errorToastLower {
    background-color: rgb(194, 57, 52);
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    padding-top:0;
}
.THIS .errorToastFakeLower {
    border-radius: 0px 0px 5px 5px;
    height:5px;
    background-color: rgb(194, 57, 52);
}
.THIS .button-icon-white{
    fill: white !important;
}
.THIS .icon-white svg{
    fill: white !important;
}
.THIS .white {
    color: white;
}