.THIS .uiInput--input.input {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid #d4d4d4;
    border-radius: .25rem;
    width: 7%;
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: -2.125rem;
    min-height: calc(2.125rem + 0px);
}